<div class="d-flex align-items-center justify-content-center">
    <h1>About Us</h1>
</div>
<p>"The greatest glory in living lies not in never falling, but in rising every time we fall." -Nelson Mandela</p>
<h2>Our mission</h2>
<p>Here at Villa Counseling Group, we understand that counseling is not the easiest thing to commit to. It can be very difficult to open up about mental health issues that you may be experiencing or life hardships that have shaped who you are. Because of this, we make it our mission to offer a welcoming environment and judgment-free space in hopes to make this process as smooth as possible. We strive to work with clients at a pace in which they feel comfortable and encourage feedback on the counseling process. As counseling professionals, we want to offer you a place to be unapologetically you! We believe that counseling should offer you an outlet to express yourself, process your emotions, work through mental health symptoms that are negatively impacting your life, and ultimately, be the best version of yourself that you can be!</p>
<h2>Hours</h2>
<p>Reception Hours: Monday - Friday: 9:00 am - 5:00 pm</p>
<p>Counselors at Villa Counseling Group stay past reception hours and will do their best to work around your schedule, including evening hours and Saturday mornings.</p>
<p>Office is closed on Sundays</p>
<h2>Address</h2>
<p>6064 Frantz Road, Suite 201. Dublin OH, 43017</p>
<h2>Telephone</h2>
<p>none provided</p>
