<div class="d-flex align-items-center justify-content-center">
    <h1>Meet Our Team</h1>
</div>
<h2>Mark Hamilton, MA, LPC</h2>
<p>Mark received his Masters in Clinical Mental Health Counseling from the University of Cincinnati and is currently finishing his PhD in Counselor Education at The Ohio State University. Mark utilizes primarily a solution-focused approach to counseling in which he asks his clients to identify roadblocks that stand in the way of their goals and helps them to overcome these obstacles. Mark has a laid back personality and enjoys laughing with his clients. Mark's specializations include:</p>
<ul>
    <li>Compulsive sexual behaviors/Pornography</li>
    <li>Behabioral addictions (sex, gambling, technology/gaming)</li>
    <li>Substance abuse</li>
    <li>Anger/impulse control difficulties</li>
    <li>Adolescent and Adult populations</li>
</ul>
<h2>Helen Varuhas, MA, LPCC</h2>
<p>Helen received her Bachelor's degree from The Ohio State University before going on to complete her master's degree in Clinical Mental Health Counseling from the University of Cincinnati. Helen tends to work using a holistic approach to counseling including mainly person-centered and cognitive-behavioral techniques. Helen focuses on using empathy and unconditional positive regard to truly understand problems from the client's point of view. Helen also uses CBT techniques to help the client understand how their thoughts, feelings, and behaviors are connected, as well as, how to use this knowledge to work toward their treatment goals. Helen's specializations include: </p>
<ul>
    <li>Eating Disorders</li>
    <li>Anxiety Disorders</li>
    <li>Depressive Disorders</li>
    <li>Obsessive-Compulsive Disorder</li>
    <li>Adolescent and Adult populations</li>
</ul>
<h2>Eric Clontz, MA, LPC</h2>
<p>No information given</p>
<p></p>
<p>ALL counselors at Villa Counseling Group welcome those that are a part of the LGBTQ+ population, as well as, those of different cultural or socioeconomic backgrounds</p>
