<div class="d-flex align-items-center justify-content-center">
    <h1>Notes for the Developer</h1>
</div>
<ul>
    <li>Add a footer</li>
    <li>Map on the <a href="/location">Location and Directions page</a></li>
    <li>Background color?</li>
    <li>Background image?</li>
    <li>Navbar image or name of company?</li>
    <li>"Hours" and "our mission" underlined on <a href="/">home page</a>?</li>
    <li>Eric's information on <a href="/meet">Meet Our Team</a></li>
    <li>Any photos to add to <a href="/photos">Photos</a>? If nothing currently, remove from navbar so that the page will still exist, but no sign that it exists?</li>
    <li>Fonting</li>
    <li>Format of the <a href="/photos">Photos</a> page. Gallery? 1 over another?</li>
    <li>Anything else added? See: <a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">bootstrap</a> to see if anything on website can be added</li>
</ul>