<h1>Pricing and Insurance</h1>
<h2>Pricing</h2>
<p>Initial Intake Session</p>
<p>$175</p>
<p>45-minute sessions</p>
<p>$150</p>
<p>1 hour and 30 minute sessions are also available for $250</p>
<p></p>
<p>If for any reason, you need to cancel your appointment, we ask that you notify the office 24 hours in advance. That being said, we understand that there are unforeseen circumstances and emergency situations that may arise. If you call to notify the office that you need to cancel your appointment, you will not be charged. No-show appointments will automatically be charged $50 to the card on file for the first occurrence and the full session amount ($150) for any occurrences thereafter. </p>
<h2>Insurance</h2>
<p>At Villa Counseling Group, we want to provide you with the highest level of care, and we believe that should be determined by you! Accepting insurance involves reduced confidentiality of your private mental health records, as well as, potentially limited frequency or duration of appointments. In addition, insurances require a mental health diagnosis, which may or may not be true for you as a client. For these reasons, among others, ​counselors at Villa Counseling Group are not part of insurance panels and are therefore classified as out-of-network providers. This means that we cannot directly bill insurance providers for you. If after discussion with your insurance provider, you discover that they will cover a portion of your sessions, we would be happy to provide you with a billing statement to submit. ​</p>